.InfoBox {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherCard {
  width: 340px;
  border-radius: 18px !important;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15) !important;
  transition: 0.3s;
}

.weatherCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25) !important;
}

.cardImage {
  height: 180px !important;
  background-size: cover;
}

.cityTitle {
  text-align: center;
  font-weight: bold !important;
  color: #2d98a8 !important;
  margin-bottom: 10px !important;
}



.cityTitle:hover {
  color: #08dcfd !important;
  font-size: 30px !important;
}

.weatherDetails {
  background: rgba(118, 16, 235, 0.08);
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
}

.weatherDetails p {
  margin: 6px 0;
}

.info {
  font-weight: bold;
  font-size: 15px;
 
}

.info:hover {
  background: rgba(160, 119, 207, 0.757);
  font-size: large;
}

